@import "../../style/util.scss";

%color {
    color: white;
}

.trek-gateway {
    margin-top: 2em;
    padding-left: 3em;
    width: 30%;
}

#header {
    @extend %color;
    text-align: left;
    font-size: 0.7em;
    font-style: italic;
}

.trek-gateway #description {
    margin-top: 2.5em;
    @extend %color;
    text-align: justify;
    font-size: 0.35em;
    padding-right: 9%;
}

#guy {
    min-width: 200px;
    width: 70%;
    padding-top: 1em;
}