@import "~bootstrap/scss/bootstrap";
@import "./util.scss";

// tags
img {
  width: 100%;
  height: auto;
}

// placeholder
%img-tag-fitter {
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 2990px;

  @include media-breakpoint-down(lg) {
    background-size: cover;
    height: 1100px;
  }
}

// classes
.App {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  @extend %img-tag-fitter;
  background-image: url("../static/images/bg-hero.jpg");
}

.logo {
  width: 20%;
  padding-left: 11vw;
}
