@import "~bootstrap/scss/bootstrap";
@import "./util.scss";

// tags
img {
  width: 100%;
  height: auto;
}

// placeholder
%img-tag-fitter {
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 2990px;

  @include media-breakpoint-down(lg) {
    background-size: cover;
    height: 1100px;
  }
}

// classes
.App {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  @extend %img-tag-fitter;
  background-image: url("../static/images/bg-hero.jpg");
  margin: auto;
}

.section {
  @extend .pt-6-vw;
  width: 88%;
  margin: 0 auto;
  flex-basis: auto;
  flex-grow: 0;
}

.logo {
  width: 10%;
  margin-left: 6vw;
}

.place {
  color: white;
  font-size: 18vw;
  font-style: italic;
  font-weight: 600;
  line-height: 0.72em;
  text-align: left;
}
