.position {
    margin-top: 1.5em;
    margin-left: 4.5em;
}

.dot {
    background-color: white;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.line {
    margin-left: 5.5px;
    background-color: white;
    height: 660px;
    width: 2px;
}