.position {
    margin-top: 1.5em;
    margin-left: 4.5em;
}

.dot {
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.line {
    margin-left: 6.5px;
    background-color: white;
    height: 670px;
    width: 2px;
}