@import "../../style/util.scss";

.place {
    @extend .serif;
    color: white;
    font-style: italic;
    font-weight: 600;
    line-height: 0.76em;
}

#lake {
    font-size: 11vw;
    padding-left: 0.15em;
}

#date {
    text-align: left;
    color: white;
    font-weight: 300;
    padding-left: 0em;
    margin-left: -7rem;
}

#date h3 {
    padding-top: 2%;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2rem;
}

#date h4 {
    font-size: 3.3rem;
    font-style: italic;
}

#tahoe {
    font-size: 20vw;
}
